name: Daily Automation

# This permission is required to allow the bot to push changes
permissions:
  contents: write

on:
  schedule:
    # Run every 6 hours (00:00, 06:00, 12:00, 18:00 UTC)
    - cron: '0 */6 * * *'
  # Allows you to run it manually for testing
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Execute Script and Handle Git
        run: |
          git config --global user.name "Priyanshu Pathak"
          git config --global user.email "pathak.priyanshu2020@gmail.com"
          python daily_task.py